<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Source1" value="c:\\users\\apaez\\desktop\\source1.txt"/>
    <add key="Source2" value="c:\\users\\apaez\\desktop\\source2.txt"/>
    <add key="Result" value="c:\\users\\apaez\\desktop"/>
  </appSettings>
</configuration>